*{
    margin: 0;
    padding: 0;
}

#main {
    width: 800px;
    height: 800px;
    margin: 30px auto;
}
.main{
    border-style:groove;
    padding-left: 30px;
    border-bottom: none ;
}
.header{
    line-height: 100px;
    border-bottom-style:inset ;
}
.slider{
    padding-top:30px;
    padding-bottom: 30px;
    border-bottom-style:inset ;
}
.slider ol{
    padding-left: 40px;
}
.footer {
    padding-top:30px;
    padding-bottom: 30px;
}
.footer p{
    padding-bottom: 20px;
}
.footer li{
    padding-left: 20px;
    
}
.footer a{
    text-align:center;
}