

#main{
    height: 3000px;
    font-family: 'Lora', serif;
    
}
#header{
    position: relative;
    background-image: url('../img/anhpc.jpg');
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.header_left{
    float: left;
}
.header_left h2{
    font-size: 40px;
}
.header_right{
    float: right;
}
.header_menu li{
    display: inline-block;
    text-transform:uppercase;
    margin-right: 0px;
    padding: 20px;
}
.header_menu a{
    text-decoration: none;
    color: #fff;
}
    