.main{
    width:800px;
    height:1000px;
    margin:0 auto;
    padding-left: 20px;
    padding-top: 20px;
    border: solid #000;
    padding-right: 10px;
}
.main h2{
    font-size:20px;
    padding-bottom: 20px;
}
.main p{
    padding-bottom: 10px;
}
.header {
   padding-bottom: 10px;
   border-bottom: double #333;
}
.content {
    padding: 10px 0;
   border-bottom: double #333;
}
.footer{
    padding-top: 10px;
}
.essay{
    padding-top: 20px;
}
.essay textarea{
    width: 400px;
    height: 80px;
}
